@model Ogani.Models.user_read_novels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user_read_novels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.last_read_chapter_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_read_chapter_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.novel.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.novel.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
